.bold{
    font-weight: bold;
}

/* .item {
    display: flex;
} */

.inline {
    display: inline!important;
}

.carousel-inner {
    width: 100%!important;
    min-width: 250px;
    display: inline-block;
}