.bold {
    font-weight: bold;
}

.inline {
    display: inline!important;
}

.carousel-inner {
    width: 100%!important;
    min-width: 250px;
    display: inline-block;
}
.footer-space {
    height: 50px; /* Altezza del tuo spazio verticale finale */
  }