/* SEARCH PAGE */

#result {
  margin-top: 80px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}
.custom-tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  display: none;
  margin-top: 5px;

}

.custom-tooltip-content.show {
  display: inline;
  margin-top: 5px;

}

#searchButton{
 margin-top: 5px;
}

#toggleSearchFunctions {
  margin-top: 5px;
  background-color: #2e1273;
  border-color: #2e1273;
}

.image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: auto; /* Regola le dimensioni dell'immagine */
  height: 100%; /* Altezza pari all'altezza del contenitore */
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%; /* Altezza pari all'altezza del contenitore */
  object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .card-image {
    display: none;
  }
}